<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--RAVENDB 3.5.2-->
  <appSettings>
    <!--<add key="Raven/Port" value="8080"/>-->
    <!--<add key="Raven/DataDir/Legacy" value="R:\EmbeddedRaven"/>-->
    <!--<add key="Raven/DataDir" value="R:\EmbeddedRaven\StudioHub"/>-->
    <!--<add key="Raven/AnonymousAccess" value="Admin" />-->
    <!--<add key="Raven/Licensing/AllowAdminAnonymousAccessForCommercialUse" value="false" />-->
    <!--<add key="Raven/AccessControlAllowOrigin" value="*" />-->
    <!--<add key="Raven/ActiveBundles" value="Unique Constraints" />
    <add key="Raven/Esent/MaxVerPageS" value="2048" />
    <add key="Raven/MaxNumberOfItemsToIndexInSingleBatch" value="100000" />
    <add key="Raven/NewIndexInMemoryMaxMB" value="2048" />
    <add key="Raven/DisableInMemoryIndexing" value="false" />

    <add key="Raven/StorageTypeName" value="esent" />-->
    <!--<add key="Raven/DataDir" value="C:\AA\" />-->
    <add key="EmbeddedRavenPath" value="C:\EmbeddedRaven" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--RAVENDB 3.5.2-->
  <runtime>
    <!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>-->
    <!--RAVENDB 3.5.2-->
    <!--<loadFromRemoteSources enabled="true"/>
    <gcServer enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Analyzers;Plugins"/>
    </assemblyBinding>-->
    <!--RAVENDB 3.5.2-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Raven.Client.Lightweight" publicKeyToken="37f41c7f99471593" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.3.0" newVersion="3.5.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Raven.Abstractions" publicKeyToken="37f41c7f99471593" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.3.0" newVersion="3.5.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Raven.Database" publicKeyToken="37f41c7f99471593" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.3.0" newVersion="3.5.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>